.td-disign {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(52, 125, 219, 0.879);
    text-align: center;
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.td-disign2 {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.align-center {
    align-items: center;
    text-align: center;
}

.a-image-maind-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.a-image-maind-div img {
    width: 100%;
    object-fit: cover;
    height: 18rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.a-title-div {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.a-info {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem 2em 0rem 2rem;
}

@media screen and (max-width:980px) {
    .a-info {
        font-size: 1.1rem;
        text-align: justify;
        padding: 1rem 2em 1rem 2rem;
        height: 9rem;
    }
}

.course-gen {
    color: rgba(0, 0, 0, 0.879);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 02rem;
}

.course-gen1 {
    color: rgba(214, 24, 24, 0.879);
    font-size: 1rem;
    font-weight: 700;
}

.course-gen3 {
    color: rgba(0, 0, 0, 0.879);
    font-size: 1rem;
    font-weight: 700;
    padding-left: 2rem;
}

.table-div {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}